<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target     xsi:type="Database"
                name="db"
                connectionString="Data Source=CEMDOS\SQLEXPRESS; Initial Catalog=Log1;Integrated Security=True"
                commandType="StoredProcedure"
                commandText="[dbo].[NLog_AddEntry]">
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@message"        layout="${message}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>

  </targets>

  <rules>
    <logger name="*"  minlevel="Trace" writeTo="db"  />
  </rules>
</nlog>
